body {
  margin: 0;
  font-family: 'Raleway','Lato', 'Helvetica Neue', 'Arial', sans-serif;
  font-size: 16px;
  background-color: #575A5E;
}

* {
  box-sizing: border-box;
}

/* === GENERELLES === */
.clearfix::after {
  content:"";
  display: block;
  clear: both;
}

.active {
  background-color: #575A5E !important;
}


/* NAVIGATION BAR */

.header-nav {
  width: 100%;
  height: 50px;
  background-color: #3D3F45;
  position: relative;
  border-color: lack;
  border-style:solid;
  border-width:thin;
}

.header-nav a > img {
  height: 48px;
  width: auto;
  float:left;
  margin-top: 1px;
  margin-left: 0px;
}

.header-nav ul {
  margin: 0px;
  font-weight: bold;
  font-size: 1.1rem;
  height: 100%;
  float:right;
}

.header-nav  ul > li {
  display: inline-block;
  height: 100%;
  padding: 0 .4rem  0 .4rem;
}

.header-nav ul > li > a {
  display: inline-block;
  margin-top: .8rem;
}

.header-nav  ul > li > a:link {
  color:#FFF;
  text-decoration: none;
}

.header-nav  ul > li > a:hover {
  color:#E5E5E5;
  text-decoration: none;
}

.header-nav ul > li > a:active {
  color:#E5E5E5;
  text-decoration: none;
}

.header-nav  ul > li > a:visited {
  color:#FFF;
  text-decoration: none;
}

.header-nav ul > li > a:active {
  color:#575A5E;
  text-decoration: none;
}

.header-nav .col-6{
  padding-top: 0px;
  padding-bottom: 0px;
}

.header-nav .container,
.header-nav .row,
.header-nav .col-6{
  height: 100%;
}
/* === navigationsleiste  - moobil === */

.mobile-nav-button  {
  color: #FFF;
  float: right;
  font-size: 2rem;
  border: 2px solid white;
  width: 37px;
  height: 37px;
  position: relative;
  margin-top: .4rem;
  margin-bottom: 8px;
}

.mobile-nav-button > span {
  position: absolute;
  bottom: -2px;
  left: 7px;
}

.mobile-nav-content > ul > li {
  display: block;
  background-color: #3D3F45;
  height: 50px;
  padding: 0 1.2rem;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mobile-nav-dropdown {
  position: relative;
  display: inline-block;
  float: right;
}

.mobile-nav-dropdown:hover > .mobile-nav-content {
  display: block;
}

.mobile-nav-content {
  position: absolute;
  right: 0;
  top: 50px;
  display: none;
}

.mobile-nav {
  display: none;
}

@media (max-width: 768px) {
  .desktop-nav {
    display: none;
  }
  .mobile-nav {
    display: block;
  }

}


/* === HEADER BANNER === */

/*
.header-banner {
  width : 100%;
  height: auto;
} */

.header-banner {
  width: 100%;
  padding-top:12.3%;
  background: url("../img/pexels-pok-rie-132037.png") no-repeat center center;
  background-size: contain ;
}


 /* === GRID-SYSTEM (SICHTBARKEIT) ===

.border, .border * {
  border: 1px solid #91C4FF;
}

[class*='col-'] {
background-color: #BFDDFF;
}

p {
  background-color: #91C4FF;
  padding: 0;
  margin: 0;
  text-align: center;
  color: #FFF;
} */



/* === GRID-SYSTEM === */
.container {
  width:95%;
  margin-left: auto;
  margin-right: auto;
}

.row:after {
  content:"";
  clear:both;
  display:block;
}

/* cerca tutti gli elementi che hanno una classe
che ha nel nome la stringa "col-"*/
[class*='col-'] {
  float: left;
  min-height: 1px;
  padding: .8rem;
}

.col-1 {
  width: 16.667%;
}

.col-2 {
  width: 33.333%;
}

.col-3 {
  width: 50%;
}

.col-6 {
  width: 100%;
}

@media (max-width: 1024px) {
  .col-1 { width: 33.333%; }
}

@media (max-width: 768px) {
  .col-1 { width: 50%; }
  .col-2 { width: 100%;}
  .col-3 { width: 100%;}
}

@media (max-width: 480px) {
  .col-1 { width: 100%; }
  .col-2 { width: 100%;}
  .col-3 { width: 100%;}
}
